@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}
header{
  height: 8vh;
}
main {
  flex-grow: 1;
  height:84vh;
}
footer{
  height:8vh;
}
.clock-text{
  font-size: 150px;
}
.main-shadow{
  text-shadow: 2px 2px #1312125b;
}
.completed-task{
  text-decoration: line-through
}

.this-quote {
  &:hover{
    .author {
      opacity: 1;
    }
  }
  .author {
    opacity: 0;
    transition: all 0.7s linear
  }
}

